<hr>

<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <a href="#">
                <i class="bi bi-linkedin"></i>
              </a>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="bi bi-github"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <a href="#">
                <i class="bi bi-twitter"></i>
              </a>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Rob Bailiff 2021</p>
        </div>
      </div>
    </div>
  </footer>